.cloneguard-security_page_cgss_reports #wpcontent,
.toplevel_page_cgss_scans #wpcontent {
	padding-left: 0;
}

/**
 *  Scans Head
 */

 .cgss-head {
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(200,215,225,0.5), 0 1px 2px #e9eff3;
}

     .cgss-head-inside {
        display: flex;
        padding: 10px 10px 10px 20px;
    }

        .cgss-head-logo {
            width: 58px;
            height: 58px;
        }

        .cgss-head-text {
            display: flex;
            flex-direction: column;
            align-self: center;
        }
            
            .cgss-head-title {
                padding: 0;
                margin: 0;
                font-weight: 500;
            }

            .cgss-head-subtitle {
                margin: 0;
                margin-top: 5px;
                padding: 0;
                font-size: 1.1em;
            }



/**
 *  Settings Main
 */

.cgss_main {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 0 0 20px;
}

@media(max-width: 960px) {
    .cgss_main {
        flex-direction: column-reverse;
    }
}

/**
 *  Scans Page Table Top Section
 */

.scans-table-top-section {
    display: flex;
}

#scans-add-scan-btn {
    width: 75px; /* TODO */
    align-self: center;
    margin-left: 10px;
}


/**
 *  Table Form
 */

td.first {
    width: 10px;
    white-space: nowrap;
    vertical-align: top;
}

textarea {
    width: 575px;
    height: 100px;
}

.stuffbox input[type=text] {
    width: 440px;
}

.stuffbox {
    border-radius: 6px;
    border: none;
}

.stuffbox .inside {
    padding: 20px;
}

select {
    width: 300px;
    margin-right: 1em;
}

input[type=radio] {
    margin-left: 1em;
}
label:nth-child(1) input[type=radio] {
    margin-left: 0;
}

.progress {
    position: relative;
    height: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    overflow: hidden;
}

.progress .percent {
    padding: 1px 0 0 2px;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

.progress .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #5cb85c;
    min-width: 20px;
    min-width: 23%;
}

.spinner.inline {
    float: none;
}

.spinner.inline.show {
    visibility: visible;
}

.ungenerated .download,
.ungenerated .regenerate {
    display: none;
}

.generated .generate {
    display: none;
}

.action_play {
    display: inline-block;
    margin-right: 6px;
    background: #1eb400;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    padding-top: 2px;
    padding-left: 3px;
    width: 21px;
    height: 22px;
}

.action_stop,
.action_stop_disabled {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    background: #ff0000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.action_stop_disabled {
    background: #cacaca;
}


.action_schedule {
    margin-left: -2px;
    margin-right: 12px;
}

.action_play .dashicons-controls-play {
    color: #fff;
}

.action_schedule .dashicons-clock {
    margin-top: -3px;
    font-size: 30px;
    color: #1eb400;
}

.action_stop .stopicon,
.action_stop_disabled .stopicon {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ffffff;
}

.action_spinner .spinner {
    margin: 0;
    margin-left: 6px;
    margin-top: -2px;
}

.basic .action_schedule {
    display: none;
}
.basic .action_spinner {
    display: none;
}
.basic .action_stop {
    display: none;
}


.basic_processing .action_schedule {
    display: none;
}
.basic_processing .action_play {
    display: none;
}
.basic_processing .action_stop_disabled {
    display: none;
}


.scheduled .action_stop {
    display: none;
}
.scheduled .action_stop_disabled {
    display: none;
}
.scheduled .action_spinner {
    display: none;
}


.scheduled_processing .action_schedule {
    display: none;
}
.scheduled_processing .action_play {
    display: none;
}
.scheduled_processing .action_stop_disabled {
    display: none;
}

.wp-core-ui select {
    max-width: none;
    width: 440px !important;
}

.table-buttons {
    display: flex;
    justify-content: space-between;
    width: 575px;
}
    .table-buttons-save,
    .table-buttons-cancel {
        font-size: 1.2em !important;
        padding: 0px 30px !important;
    }